<div class="top-bar color-scheme-bright">
  <div class="top-menu-controls">
    <div class="logged-user-w">
      <div class="logged-user-i">
        <div class="avatar-w">
          {{#if image}}
          <img alt="" src="{{image}}">
          {{else}}
          <img alt="" src="/web/img/buddha.jpg">
          {{/if}}
        </div>

        <div class="logged-user-menu color-style-bright">
          <div class="logged-user-avatar-info">
            <div class="avatar-w">
              {{#if image}}
              <img alt="" src="{{image}}">
              {{else}}
              <img alt="" src="/web/img/buddha.jpg">
              {{/if}}
            </div>
            <div class="logged-user-info-w">
              <div class="logged-user-name">
                {{username}}
              </div>
              <div class="logged-user-role">
                {{email}}
              </div>
            </div>
          </div>
          <div class="bg-icon">
            <i class="os-icon os-icon-wallet-loaded"></i>
          </div>
          <ul>
            <li>
              <a href="/account/my-profile"><i class="os-icon os-icon-user"></i><span>My Profile</span></a>
            </li>
            <li>
              <a href="/account/myassets/transfer"><i class="fa fa-money"></i><span>My Assets</span></a>
            </li>
            <li>
              <a href="/account/activity-logs"><i class="os-icon os-icon-user-male-circle2"></i>Activity
                Logs<span></span></a>
            </li>
            <li>
              <a href="/account/change-password"><i class="os-icon os-icon-fingerprint"></i>Change
                password<span></span></a>
            </li>
            <li>
              <a href="/account/logout"><i class="os-icon os-icon-signs-11"></i><span>Logout</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>