<div class="content-i">
    <div class="content-box">
        <div class="element-wrapper">
            <h6 class="element-header">Manage permits</h6>
            {{#if success_msg}}
            <div class="alert alert-success" role="alert">{{success_msg}}</div>
            {{/if}}
            {{#if error_msg}}
            <div class="alert alert-danger" role="alert">{{error_msg}}</div>
            {{/if}}
            <div class="element-box">
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="form-header">Manage permits</h5>
                    </div>
                </div>
                <hr>
                <div class="table-responsive">
                    <table id="example23" class="display nowrap table table-hover table-striped table-bordered"
                        cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>UUID</th>
                                <th>Shop Name</th>
                                <th>Add</th>
                                <th>View</th>
                                <th>QR</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#if dataArr}} {{#each dataArr}}
                            <tr>
                                <td>{{uuid}}</td>
                                <td>{{ShopName}}</td>
                                <td>
                                    <div class="md4">
                                        <form id="addForm#{{uuid}}" action="/plugins/primemason/shoppermits/add-permits"
                                            method="GET">
                                            <input type="hidden" name="uuid" value="{{uuid}}">
                                        </form>
                                        <button class="btn btn-warning"
                                            onclick="document.getElementById('addForm#{{uuid}}').submit();">Add</button>
                                    </div>
                                </td>
                                <td>
                                    <div class="md4">
                                        <form id="viewForm#{{uuid}}"
                                            action="/plugins/primemason/shoppermits/view-permits" method="GET"
                                            target="_blank">
                                            <input type="hidden" name="uuid" value="{{uuid}}">
                                        </form>
                                        <button class="btn btn-primary"
                                            onclick="document.getElementById('viewForm#{{uuid}}').submit();">View</button>
                                    </div>
                                </td>
                                <td>
                                    <div class="md4">
                                        <button class="btn btn-success" data-target="#qr#{{uuid}}" data-toggle="modal"
                                            type="button" onclick="permitsQRcode('{{uuid}}')">QR</button>

                                        <div aria-labelledby="mySmallModalLabel"
                                            class="modal fade bd-example-modal-sm show" role="dialog" tabindex="-1"
                                            aria-modal="true" style="padding-right: 16px; display: none;"
                                            id="qr#{{uuid}}">
                                            <div class="modal-dialog modal-sm">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">
                                                            Primechain</h5><button aria-label="Close" class="close"
                                                            data-dismiss="modal" type="button"><span
                                                                aria-hidden="true">×</span></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>{{ShopName}}</p>
                                                        <hr />
                                                        <div id="qrcode#{{uuid}}"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>

                            </tr>
                            {{/each}} {{/if}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function permitsQRcode(uuid) {
        let text = `${window.location.origin}/plugins/primemason/shoppermits/view-permits?uuid=${uuid}`;

        let output = document.getElementById(`qrcode#${uuid}`);
        output.innerHTML = '';

        let qrcode = new QRCode(output, {
            text: text,
            width: 256,
            height: 256,
            colorDark: "#000000",
            colorLight: "#ffffff",
            correctLevel: QRCode.CorrectLevel.H
        });
    }
</script>