{{#unless user}}
 <div class="layout-w">
    <div class="menu-mobile menu-activated-on-click color-scheme-dark">
        <div class="mm-logo-buttons-w">
            <a class="mm-logo" href="#"><img src="/web/img/logo.png"><span>Primechain</span></a>
            <div class="mm-buttons">
                <div class="mobile-menu-trigger">
                    <div class=""></div>
                </div>
            </div>
        </div>
    </div>
    <div
        class="menu-w color-scheme-light color-style-transparent menu-position-side menu-side-left menu-layout-compact sub-menu-style-over sub-menu-color-bright selected-menu-color-light menu-activated-on-hover menu-has-selected-link">
        <div class="logo-w" style="background-color:#1b55e2;">
            <a class="logo" href="#">
                <div class="logo-element"></div>
                <div class="logo-label" style="color: #ffff">Primechain</div>
            </a>
        </div>
    </div>
    <div class="all-wrapper with-side-panel solid-bg-all">
        <div class="layout-w">
{{/unless}}
    <div class="content-i">
        <div class="content-box">
        {{#if error_msg}}
        <div class="alert alert-warning" role="alert">{{error_msg}}</div>
        {{/if}}

        {{#if dataArr}}
        {{#if best_before}}
        <div class="row">
            <div class="col-sm-12 col-xxl-12">
                <div class="alert alert-danger borderless">Product is past its 'best before' date.</div>
            </div>
        </div>
        {{/if}}
        {{#if expired}}
        <div class="row">
            <div class="col-sm-12 col-xxl-12">
                <div class="alert alert-danger borderless">Product is past its 'expiry' date.</div>
            </div>
        </div>
        {{/if}}
        {{#if image}}
        <div class="row">
            <div class="col-sm-12 col-xxl-12">
                <div class="element-box">
                    <img id="primechainImagePreview" class='responsive-img row' alt="Image" src="{{image}}" style="height:256px;width:256px;">
                </div>
            </div>
        </div>
        {{else}}
        <div class="row">
            <div class="col-sm-12 col-xxl-12">
                <div class="element-box">
                    <img id="primechainImagePreview" class='responsive-img row' ; alt="Primechain" src="/web/img/download.png">
                </div>
            </div>
        </div>
        {{/if}}
        {{else}}
        <div class="row">
            <div class="col-sm-12 col-xxl-12">
                <div class="element-box">
                    <div class="alert alert-danger borderless">Invalid PrimeQR</div>
                </div>
            </div>
        </div>
        {{/if}}

        {{#if dataArr}}
            <div class="row">
                <div class="col-sm-12 col-xxl-12">
                    <div class="element-box">                        
                        <div class="pipeline-item">
                            <div class="pi-controls">
                                <div class="status status-green" data-placement="top" data-toggle="tooltip" title="" data-original-title="Active"></div>
                            </div>
                            <div class="pi-body">
                                <div class="pi-info"><div class="h6 pi-name">{{dataArr.[Product Name]}}</div>
                                {{#if dataArr.[Manufacturer]}}<div class="pi-sub">Manufacturer: {{dataArr.[Manufacturer]}}</div>{{/if}}
                                {{#if dataArr.[Product ID]}}<div class="pi-sub">Product ID: {{dataArr.[Product ID]}}</div>{{/if}}
                                {{#if dataArr.[Batch Number]}}<div class="pi-sub">Batch number: {{dataArr.[Batch Number]}}</div>{{/if}}
                                {{#if dataArr.[Manufacturing date]}}<div class="pi-sub">Manufactured: {{dataArr.[manufactured_display]}}</div>{{/if}}
                                {{#if dataArr.[Best before date]}}<div class="pi-sub">Best before: {{dataArr.[best_before_display]}}</div>{{/if}}
                                {{#if dataArr.[Expiry date]}}<div class="pi-sub">Expiry date: {{dataArr.[expiry_display]}}</div>{{/if}}
                            </div>
                        </div>
                        <div class="pi-foot">
                            <div class="tags">
                                {{#if dataArr.[Video]}}
                                  <a class="tag" target="_blank" href="{{dataArr.[Video]}}">Video</a>
                                {{/if}}
                                </div>
                                {{#if dataArr.[WhatsApp]}}
                                  <a class="tag" target="_blank" href="https://api.whatsapp.com/send?phone={{dataArr.[WhatsApp]}}"><i class="fa fa-whatsapp"></i> <span>WhatsApp us</span></a>
                                {{/if}}
                                {{#if dataArr.[Email]}}
                                  <a class="tag" target="_blank" href="mailto:{{dataArr.[Email]}}"><i class="os-icon os-icon-mail"></i> <span>Email us</span></a>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{#if dataArr.[Product details]}}
            <div class="row">
                <div class="col-sm-12 col-xxl-12">
                    <div class="element-box"> 
                    {{dataArr.[Product details]}}
                    </div>
                </div>
            </div>
            {{/if}}

            {{#if dataArr.[Eshopping URL]}}
            <div class="row">
                <div class="col-sm-12 col-xxl-12">
                    <div class="element-box"> 
                      <a class="btn btn-secondary btn-md" href="{{dataArr.[Eshopping URL]}}" style="width:100%;"><i class="fa fa-heart" style="color:red;"></i> <span>Loved it? Buy more.</span></a>
                    </div>
                </div>
            </div>
            {{/if}}

            <div class="row">
                <div class="col-sm-12 col-xxl-12">
                    <div class="element-box">                        
                        <div class="pipeline-item">
                            <div class="pi-body">
                                <div class="pi-info"><div class="h6 pi-name">Connect with us</div>
                            </div>
                        </div>
                        <div class="pi-foot">
                            <div class="tags">
                                {{#if dataArr.[URL]}}
                                  <a class="tag" target="_blank" href="{{dataArr.[URL]}}">Website</a>
                                {{/if}}
                                </div>
                                {{#if dataArr.[Facebook]}}
                                  <a class="tag" target="_blank" href="{{dataArr.[Facebook]}}"><i class="fa fa-facebook"></i></a></a>
                                {{/if}}
                                {{#if dataArr.[Instagram]}}
                                  <a class="tag" target="_blank" href="{{dataArr.[Instagram]}}"><i class="fa fa-instagram"></i></a></a>
                                {{/if}}
                                {{#if dataArr.[Youtube]}}
                                  <a class="tag" target="_blank" href="{{dataArr.[Youtube]}}"><i class="fa fa-youtube"></i></a></a>
                                {{/if}}
                                {{#if dataArr.[Twitter]}}
                                  <a class="tag" target="_blank" href="{{dataArr.[Twitter]}}"><i class="fa fa-twitter"></i></a></a>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{#if dataArr.[Promotion]}}
            <div class="row">
                <div class="col-sm-12 col-xxl-12">
                    <div class="element-box"> 
                        <p>
                          {{{dataArr.[Promotion]}}}
                        </p>
                    </div>
                </div>
            </div>
            {{/if}}

            {{#if dataArr.[Insurance]}}
            <div class="row">
                <div class="col-sm-12 col-xxl-12">
                      <div class="alert alert-primary borderless">
                        <p style="color:#ffffff">
                          {{{dataArr.[Insurance]}}}
                        </p>
                      </div>
                </div>
            </div>
            {{/if}}

            {{#if dataArr.[Other]}}
            <div class="row">
                <div class="col-sm-12 col-xxl-12">
                    <div class="element-box"> 
                      <a href="{{dataArr.[Other]}}" target="_blank"><button class="mr-2 mb-2 btn btn-warning" type="button" style="width:100%;"> <i class="fa fa-star" style="color:red;"></i> Other</button></a>
                    </div>
                </div>
            </div>
            {{/if}}

        {{/if}}

        {{#if user}}
              <div class="element-wrapper">
                <h6 class="element-header">
                  Recent Activity
                </h6>


        {{#each inputsArr}}
<!--------------------
              START - Recent Activity
              -------------------->

                <div class="element-box-tp">
                  <div class="activity-boxes-w">
                    <div class="activity-box-w">
                      <div class="activity-time">
                        10 Min
                      </div>
                      <div class="activity-box">
                        <!--<div class="activity-avatar">
                          <img alt="" src="img/avatar1.jpg">
                        </div>-->
                        <div class="activity-info">
                          <div class="activity-role">
                            {{Full name}}
                          </div>
                          <strong class="activity-title">Opened New Account</strong>
                        </div>
                      </div>
                    </div>
                    <div class="activity-box-w">
                      <div class="activity-time">
                        2 Hours
                      </div>
                      <div class="activity-box">
                        <div class="activity-avatar">
                          <img alt="" src="img/avatar2.jpg">
                        </div>
                        <div class="activity-info">
                          <div class="activity-role">
                            Ben Gossman
                          </div>
                          <strong class="activity-title">Posted Comment</strong>
                        </div>
                      </div>
                    </div>
                    <div class="activity-box-w">
                      <div class="activity-time">
                        5 Hours
                      </div>
                      <div class="activity-box">
                        <div class="activity-avatar">
                          <img alt="" src="img/avatar3.jpg">
                        </div>
                        <div class="activity-info">
                          <div class="activity-role">
                            Phil Nokorin
                          </div>
                          <strong class="activity-title">Opened New Account</strong>
                        </div>
                      </div>
                    </div>
                    <div class="activity-box-w">
                      <div class="activity-time">
                        2 Days
                      </div>
                      <div class="activity-box">
                        <div class="activity-avatar">
                          <img alt="" src="img/avatar4.jpg">
                        </div>
                        <div class="activity-info">
                          <div class="activity-role">
                            Jenny Miksa
                          </div>
                          <strong class="activity-title">Uploaded Image</strong>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--------------------
              END - Recent Activity
              -------------------->

        {{/each}}

        {{#each inputsArr}}
        <div class="alert alert-warning" role="alert">
            <div class="row">
                <div class="col-sm-12 col-xxl-12">
                    <div class="element-box">
                        <h5 class="form-header"></h5>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <th style="width: 35%;">Field</th>
                                    <th style="width: 65%;">Value</th>
                                </thead>
                                {{#if this}}
                                <tbody>
                                 {{#if comment_image}}
                                    <div class="row">
                                        <div class="col-sm-12 col-xxl-12">
                                            <div class="element-box">
                                                <img id="commentImagePreview" class='responsive-img row' alt="Image" src="{{comment_image}}" style="height:256px;width:256px;">
                                            </div>
                                        </div>
                                    </div>
                                    {{/if}}
                                    {{#if this.geo_latitude}}
                                    <tr>
                                        <td>Link</td>
                                        <td><a href='https://www.openstreetmap.org/#map=18/{{this.geo_latitude}}/{{this.geo_longitude}}'
                                                target="_blank">Link</a></td>
                                    </tr>
                                    {{/if}}
                                    {{#each this}}
                                    <tr>
                                        <td>{{@key}}</td>
                                        <td>{{{this}}}</td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                                {{else}}
                                <tbody>
                                    <tr>
                                        <td>{{@key}}</td>
                                        <td>{{{this}}}</td>
                                    </tr>
                                </tbody>
                                {{/if}}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
        <div class="alert alert-info" role="alert">
            <div class="row">
                <div class="col-sm-12 col-xxl-12">
                    <div class="element-box">
                        <form id="formValidate" action="/plugins/primemason/primeqr/add-inputs" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="uuid" value="{{uuid}}">
                            <input type="hidden" name="geo_latitude" id="geo_latitude" value="">
                            <input type="hidden" name="geo_longitude" id="geo_longitude" value="">
                            <fieldset class="form-group">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="">Add comments *</label>
                                            <input class="form-control" data-error="This field is compulsory"
                                                id="Comments" name="Comments" required="required" type="text" value="">
                                            <div class="help-block form-text with-errors form-control-feedback">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                          <input class="form-control" type="file" id="commentImage" name="primechainImages">
                                          <div class="help-block form-text with-errors form-control-feedback"></div>
                                        </div>
                                        <div class="help-block form-text text-muted form-control-feedback">
                                          Supported image types are jpg, png, gif.
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <img id="commentImagePreview" class='responsive-img' src=""
                                      style="height:128px;width:128px;display:none;">
                                    </div>
                                </div>
                            </fieldset>
                            <div class="form-buttons-w">
                                <button type="submit" class="btn btn-primary"> Add</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- if the user is not loggedin -->
        {{else}}
            {{#if dataArr.[Terms]}}
            <div class="row">
                <div class="col-sm-12 col-xxl-12">
                    <div class="element-box"> 
                        <h6 class="element-header">Register to earn loyalty points and rewards</h6>
                        <form id="formValidate" action="/plugins/primemason/primeqr/add-inputs" method="post">
                            <input type="hidden" name="uuid" value="{{uuid}}">
                            <input type="hidden" name="geo_latitude" id="geo_latitude" value="">
                            <input type="hidden" name="geo_longitude" id="geo_longitude" value="">

                            <div class="form-group">
                                <label for="">Mobile</label><br/><input class="form-control" id="Mobile" name="Mobile" type="text" value="" placeholder="Mobile number"><br/>
                                <label for="">Email</label><br/><input class="form-control" id="Email" name="Email" type="email" value="" placeholder="Email address">
                            </div>

                            <div class="form-check">
                                <label class="form-check-label"><input class="form-check-input" type="checkbox" required="required">I agree to the <a href="">terms and conditions</a>.</label>
                            </div>

                            <div class="form-buttons-w">
                                <button class="btn btn-primary" type="submit"> Register</button>
                              </div>
                        </form>
                    </div>
                </div>
            </div>
            {{/if}}
        {{/if}}
    </div>
</div>