<div class="content-i">
    <div class="content-box">
        <div class="element-wrapper">
            <h6 class="element-header">Manage PrimeQR</h6>
            {{#if success_msg}}
            <div class="alert alert-success" role="alert">{{success_msg}}</div>
            {{/if}}
            {{#if error_msg}}
            <div class="alert alert-danger" role="alert">{{error_msg}}</div>
            {{/if}}
            <div class="element-box">
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="form-header">Manage PrimeQR</h5>
                    </div>
                </div>
                <hr>
                <div class="table-responsive">
                    <table id="example23" class="display nowrap table table-hover table-striped table-bordered"
                        cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>uuid</th>
                                <th>Product Name</th>
                                <th>View</th>
                                <th>Update</th>
                                <th>Delete</th>
                                <th>Share</th>
                                <th>Qr</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#if dataArr}} {{#each dataArr}}
                            <tr>
                                <td>{{documentId}}</td>
                                <td>{{uuid}}</td>
                                <td>{{ProductName}}</td>
                                <td>
                                    <div class="md4">
                                        <form id="viewForm#{{uuid}}" action="/plugins/primemason/primeqr/view-inputs"
                                            method="GET" target="_blank">
                                            <input type="hidden" name="uuid" value="{{uuid}}">
                                        </form>
                                        <button class="btn btn-primary"
                                            onclick="document.getElementById('viewForm#{{uuid}}').submit();">View</button>
                                    </div>
                                </td>
                                <td>
                                    <div class="md4">
                                        <form id="updateForm#{{uuid}}" action="/plugins/primemason/primeqr/update"
                                            method="GET">
                                            <input type="hidden" name="uuid" value="{{uuid}}">
                                        </form>
                                        <button class="btn btn-warning"
                                            onclick="document.getElementById('updateForm#{{uuid}}').submit();">Update</button>
                                    </div>
                                </td>
                                <td>
                                    <div class="md4">
                                        <form id="deleteForm#{{uuid}}" action="/plugins/primemason/primeqr/delete"
                                            method="POST">
                                            <input type="hidden" name="uuid" value="{{uuid}}">
                                        </form>
                                        <button class="btn btn-danger"
                                            onclick="document.getElementById('deleteForm#{{uuid}}').submit();">Delete</button>
                                    </div>
                                </td>

                                <td>
                                    <div class="md4">
                                        <button class="btn btn-secondary" data-target="#{{uuid}}" data-toggle="modal"
                                            type="button">Share</button>

                                        <div aria-labelledby="mySmallModalLabel"
                                            class="modal fade bd-example-modal-sm show" role="dialog" tabindex="-1"
                                            aria-modal="true" style="padding-right: 16px; display: none;" id="{{uuid}}">
                                            <div class="modal-dialog modal-sm">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Share
                                                            PrimeQR</h5><button aria-label="Close" class="close"
                                                            data-dismiss="modal" type="button"><span aria-hidden="true">
                                                                ×</span></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form id="shareForm#{{uuid}}"
                                                            action="/plugins/primemason/primeqr/share" method="POST">
                                                            <input type="hidden" name="uuid" value="{{uuid}}">
                                                            <div class="form-group"><label for="">Full
                                                                    Name</label><input class="form-control"
                                                                    placeholder="Enter Full name" type="text"
                                                                    name="receiver_name">
                                                            </div>
                                                            <div class="form-group"><label for=""> Email
                                                                    address</label><input class="form-control"
                                                                    placeholder="Enter email" type="email"
                                                                    name="receiver_email">
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer"><button class="btn btn-secondary"
                                                            data-dismiss="modal" type="button">
                                                            Close</button>
                                                        <button class="btn btn-primary"
                                                            onclick="document.getElementById('shareForm#{{uuid}}').submit();">
                                                            Share</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="md4">
                                        <button class="btn btn-success" data-target="#qr#{{uuid}}" data-toggle="modal"
                                            type="button" onclick="primeqrQRcode('{{uuid}}')">QR</button>

                                        <div aria-labelledby="mySmallModalLabel"
                                            class="modal fade bd-example-modal-sm show" role="dialog" tabindex="-1"
                                            aria-modal="true" style="padding-right: 16px; display: none;"
                                            id="qr#{{uuid}}">
                                            <div class="modal-dialog modal-sm">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">
                                                            Primechain</h5><button aria-label="Close" class="close"
                                                            data-dismiss="modal" type="button"><span
                                                                aria-hidden="true">×</span></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>{{ProductName}}<br/>{{uuid}}</p>
                                                        <hr />
                                                        <div id="qrcode#{{uuid}}"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {{/each}} {{/if}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function primeqrQRcode(uuid) {
        let text = `${window.location.origin}/plugins/primemason/primeqr/view-inputs?uuid=${uuid}`;

        let output = document.getElementById(`qrcode#${uuid}`);
        output.innerHTML = '';

        let qrcode = new QRCode(output, {
            text: text,
            width: 256,
            height: 256,
            colorDark: "#000000",
            colorLight: "#ffffff",
            correctLevel: QRCode.CorrectLevel.H
        });
    }
</script>