<!-- BEGIN Content-->
<div class="content-i">
    <div class="content-box">
        {{#if success_msg}}
        <div class="alert alert-success" role="alert">{{success_msg}}</div>
        {{/if}}
        {{#if error_msg}}
        <div class="alert alert-warning" role="alert">{{error_msg}}</div>
        {{/if}}

        <div class="element-box">
            <div class="row">
                <div class="col-sm-12 col-xxl-12">
                    <h5 class="form-header">
                        Update
                    </h5>
                    <hr>
                </div>
            </div>
            {{#if dataArr}}
            <form id="formValidate" action="/plugins/primemason/primeqr/update" method="post" enctype="multipart/form-data">
            <input type="hidden" name="uuid" value="{{uuid}}">
              <div class="steps-w">
                <div class="step-triggers">
                  <a class="step-trigger active" href="#stepContent1">Primary information</a><a class="step-trigger" href="#stepContent2">Customer Support</a><a class="step-trigger" href="#stepContent3">Promotions</a>
                </div>
                <div class="step-contents">
                  <div class="step-content active" id="stepContent1">
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <input class="form-control" type="file" id="primechainImage" name="primechainImages">
                          <div class="help-block form-text with-errors form-control-feedback"></div>
                        </div>
                        <div class="help-block form-text text-muted form-control-feedback">
                          Supported image types are jpg, png, gif.
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <img id="primechainImagePreview" class='responsive-img' src=""
                          style="height:128px;width:128px;display:none;">
                      </div>
                    </div>
                    <hr/>

                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="">Product Name *</label>
                          <input class="form-control" data-error="This field is compulsory" id="Product Name" name="Product Name"
                            required="required" type="text" value="{{dataArr.[Product Name]}}">
                          <div class="help-block form-text with-errors form-control-feedback"></div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="">Batch Number</label>
                          <input class="form-control" id="Batch Number" name="Batch Number" type="text" value="{{dataArr.[Batch Number]}}">
                        </div>
                      </div>
                    </div>
                    <hr/>

                    <div class="row">
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label for="">Manufacturing date</label>
                          <input class="form-control" id="Manufacturing date" name="Manufacturing date" type="date" value="{{dataArr.[Manufacturing date]}}">
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label for="">Best before date</label>
                          <input class="form-control" id="Best before date" name="Best before date" type="date" value="{{dataArr.[Best before date]}}">
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label for="">Expiry date</label>
                          <input class="form-control" id="Expiry date" name="Expiry date" type="date" value="{{dataArr.[Expiry date]}}">
                        </div>
                      </div>
                    </div>
                    <hr/>

                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <label for="">Product details</label>
                          <input class="form-control" id="Product details" name="Product details" type="text" value="{{dataArr.[Product details]}}">
                        </div>
                      </div>
                    </div>
                    <hr/>

                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <label for="">Eshopping URL</label>
                          <input class="form-control" id="Eshopping URL" name="Eshopping URL" type="text" value="{{dataArr.[Eshopping URL]}}">
                        </div>
                      </div>
                    </div>

                    <div class="form-buttons-w text-right">
                      <a class="btn btn-primary step-trigger-btn" href="#stepContent2"> Continue</a>
                    </div>
                  </div>

                  <div class="step-content" id="stepContent2">

                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="">Product URL</label>
                          <input class="form-control" id="URL" name="URL" type="text" value="{{dataArr.[URL]}}">
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="">Product usage video URL</label>
                          <input class="form-control" id="Video" name="Video" type="text" value="{{dataArr.[Video]}}">
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="">Email</label>
                          <input class="form-control" id="Email" name="Email" type="text" value="{{dataArr.[Email]}}">
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="">WhatsApp (e.g. +91xxxxxxxxxx)</label>
                          <input class="form-control" id="WhatsApp" name="WhatsApp" type="text" value="{{dataArr.[WhatsApp]}}">
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="">Facebook</label>
                          <input class="form-control" id="Facebook" name="Facebook" type="text" value="{{dataArr.[Facebook]}}">
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="">Instagram</label>
                          <input class="form-control" id="Instagram" name="Instagram" type="text" value="{{dataArr.[Instagram]}}">
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label for="">Youtube</label>
                          <input class="form-control" id="Youtube" name="Youtube" type="text" value="{{dataArr.[Youtube]}}">
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <!--<div class="form-group">
                          <label for=""></label>
                          <input class="form-control" id="" name="" type="text" value="{{dataArr.[aaaa]}}">
                        </div>-->
                      </div>
                    </div>

                    <div class="form-buttons-w text-right">
                      <a class="btn btn-primary step-trigger-btn" href="#stepContent3"> Continue</a>
                    </div>
                  </div>

                  <div class="step-content" id="stepContent3">

                    <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label for="">Promotional offer / scheme</label>
                          <textarea class="Promotion" cols="80" id="ckeditor1" name="Promotion" rows="10" style="visibility: hidden; display: none;">{{dataArr.[aaaa]}}</textarea>
                      </div>
                    </div>

                    <div class="form-buttons-w text-right">
                      <button class="btn btn-primary">Update PrimeQR</button>
                    </div>

                  </div>
                </div>
              </div>
            </form>
            {{/if}}
        </div>
    </div>
</div>
<!-- END Content-->