<!-- BEGIN Content-->
<div class="content-i">
    <div class="content-box">
        {{#if success_msg}}
        <div class="alert alert-success" role="alert">{{success_msg}}</div>
        {{/if}}
        {{#if error_msg}}
        <div class="alert alert-warning" role="alert">{{error_msg}}</div>
        {{/if}}

        <div class="element-box">
            <div class="row">
                <div class="col-sm-12 col-xxl-12">
                    <h5 class="form-header">
                        Update
                    </h5>
                    <hr>
                </div>
            </div>
            {{#if dataArr}}
            <form id="formValidate" action="/plugins/primemason/primeqr/update" method="post">
            <input type="hidden" name="uuid" value="{{uuid}}">
                <fieldset class="form-group">
                    <legend><span>Primary information</span></legend>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="">Product Name *</label>
                                <input class="form-control" data-error="This field is compulsory" id="Product Name"
                                    name="Product Name" required="required" type="text" value="{{dataArr.[Product Name]}}">
                                <div class="help-block form-text with-errors form-control-feedback"></div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="">Batch Number *</label>
                                <input class="form-control" data-error="This field is compulsory" id="Batch Number"
                                    name="Batch Number" required="required" type="text" value="{{dataArr.[Batch Number]}}">
                                <div class="help-block form-text with-errors form-control-feedback"></div>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <div class="form-buttons-w">
                    <button type="submit" class="btn btn-primary"> Update</button>
                </div>
            </form>
            {{/if}}
        </div>
    </div>
</div>
<!-- END Content-->