<!-- BEGIN Content-->
<div class="content-i">
    <div class="content-box" style="padding-bottom: 200px;">
        {{#if success_msg}}
        <div class="alert alert-info" role="alert">{{success_msg}}</div>
        {{/if}} {{#if error_msg}}
        <div class="alert alert-warning" role="alert">{{error_msg}}</div>
        {{/if}} {{#if error}}
        <div class="alert alert-danger" role="alert">{{error}}</div>
        {{/if}}

        <div class="row">
            <div class="col-sm-12 col-xxl-12">
                <div class="element-box">
                    <form id="formValidate" action="/account/myassets/send" method="POST">
                        <h5 class="form-header">Create an offer</h5>
                        <hr>
                        <input class="form-control" type="hidden" id="offer_creator_address" name="offer_creator_address" value="{{primechain_address}}">

                        <fieldset class="form-group">
                            <legend>
                                <span>Asset offerred *</span>
                            </legend>

                            <div class="row">
                                <div class="col-sm-9">
                                    <div class="form-group">
                                        <label for="">Asset name *</label>
                                    {{#if asset_name}}
                                        <input class="form-control" type="text" autocomplete="off"
                                            data-error="This field is compulsory" name="asset_name"
                                            required="required" maxlength="32" value="{{asset_name}}" readonly>
                                            {{else}}
                                             <input class="form-control" type="text" autocomplete="off"
                                            data-error="This field is compulsory" name="asset_name"
                                            required="required" maxlength="32" value="">
                                            {{/if}}
                                        <div class="help-block form-text with-errors form-control-feedback"></div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="">Asset quantity *</label>
                                        <input class="form-control" type="number" autocomplete="off"
                                            data-error="This field is compulsory" id="asset_quantity" name="quantity"
                                            required="required" onkeypress="return event.charCode >= 48" min="1">
                                        <div class="help-block form-text with-errors form-control-feedback"></div>
                                    </div>
                                </div>
                        </fieldset>

                        <fieldset class="form-group">
                            <legend>
                                <span>Asset offerred *</span>
                            </legend>

                            <div class="row">
                                <div class="col-sm-9">
                                    <div class="form-group">
                                        <label for="">Asset name *</label>
                                    {{#if asset_name}}
                                        <input class="form-control" type="text" autocomplete="off"
                                            data-error="This field is compulsory" name="asset_name"
                                            required="required" maxlength="32" value="{{asset_name}}" readonly>
                                            {{else}}
                                             <input class="form-control" type="text" autocomplete="off"
                                            data-error="This field is compulsory" name="asset_name"
                                            required="required" maxlength="32" value="">
                                            {{/if}}
                                        <div class="help-block form-text with-errors form-control-feedback"></div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="">Asset quantity *</label>
                                        <input class="form-control" type="number" autocomplete="off"
                                            data-error="This field is compulsory" id="asset_quantity" name="quantity"
                                            required="required" onkeypress="return event.charCode >= 48" min="1">
                                        <div class="help-block form-text with-errors form-control-feedback"></div>
                                    </div>
                                </div>
                        </fieldset>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>