<div class="content-i">
    <div class="content-box">
        <div class="element-box">
            {{#if success_msg}}
            <div class="alert alert-info" role="alert">{{success_msg}}</div>
            {{/if}} {{#if error_msg}}
            <div class="alert alert-warning" role="alert">{{error_msg}}</div>
            {{/if}} {{#if error}}
            <div class="alert alert-danger" role="alert">{{error}}</div>
            {{/if}}
            <h5 class="form-header">Transfer assets</h5>
            <hr>

            <div class="table-responsive">
                <table id="dataTable1" width="100%" class="table table-striped table-lightfont dataTable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>reference</th>
                            <th>balance</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#if assets}} {{#each assets}}
                        <tr>
                            <td>{{name}}</td>
                            <td>{{assetref}}</td>
                            <td>{{qty}}</td>
                            <td>
                                <form action='/users/account/myassets/transfer/{{name}}'>
                                    {{!-- // <input type="hidden" name="name" value="{{name}}"> --}}
                                    <button class="btn btn-md btn-primary" type="submit">Transfer</button>
                                </form>
                            </td>
                        </tr>
                        {{/each}} {{/if}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- END Content-->