<div class="content-i">
    <div class="content-box">
        <div class="row">
            <div class="col-sm-12 col-xxl-12">
                <div class="element-box">
                    <h5 class="form-header">Blockchain peer info</h5>
                    <hr>
                    <br>
                    <div class="table-responsive">
                        <table id="example23" class="display table table-hover table-striped table-bordered"
                            cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>IP address</th>
                                    <th>Version</th>
                                    <th>Sub-version</th>
                                    <th>handshake</th>
                                </tr>
                            </thead>

                            <tbody>
                                {{#if peerinfo}}{{#each peerinfo}}
                                <tr>
                                    <td>{{addr}}</td>
                                    <td>{{version}}</td>
                                    <td>{{subver}}</td>
                                    <td>Local<br/>{{handshakelocal}}<br/>Remote{{handshake}}</td>
                                </tr>
                                {{/each}} {{/if}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>