<div class="content-i">
    <div class="content-box">
        <div class="element-wrapper">
            {{#if success_msg}}
            <div class="alert alert-success" role="alert">{{success_msg}}</div>
            {{/if}} {{#if error_msg}}
            <div class="alert alert-warning" role="alert">{{error_msg}}</div>
            {{/if}} {{#if error}}
            <div class="alert alert-danger" role="alert">{{error}}</div>
            {{/if}}
            <h6 class="element-header">List all users</h6>
            <div class="element-box">
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="form-header">List all users</h5>
                    </div>
                </div>
                <hr>
                <div class="table-responsive">
                    <table id="example23" class="display nowrap table table-hover table-striped table-bordered"
                        cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>name</th>
                                <th>email</th>
                                <th>primechain address</th>
                                <th>permissions</th>
                                <th>role</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#if users_list}}{{#each users_list}}
                            <tr>
                                <td>{{name}}</td>
                                <td>{{email}}</td>
                                <td>{{primechain_address}}</td>
                                <td>
                                    <form action="/components/permissions/manage" method="get">
                                        <input type="hidden" name="primechain_address" value="{{primechain_address}}">
                                        <input type="submit" class="btn btn-primary btn-md" value="Manage" \>
                                    </form>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <form id="changeUserRole">
                                            <input type="hidden" id="primechain_address" value="{{primechain_address}}">
                                            <p>Current role: <strong
                                                    id="user_role_display#{{primechain_address}}">{{user_role}}</strong>
                                            </p>
                                            <select class="form-control" id="user_role" name="user_role" value=""
                                                onchange="changeUserRole(this.value, '{{primechain_address}}')">
                                                <option value="">Change Role</option>
                                                <option value="customer">Customer</option>
                                                <option value="employee">Employee</option>
                                            </select>
                                        </form>
                                    </div>
                                </td>

                            </tr>
                            {{/each}}{{/if}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>