<!-- if the user is loggedin -->
{{#if user}}
<div class="content-i">
    <div class="content-box">
        {{#if error_msg}}
        <div class="alert alert-warning" role="alert">{{error_msg}}</div>
        {{/if}}

        {{#if dataArr}}
        <div class="row" id="uploadDaveStatus">
            <div class="col-sm-12 col-xxl-12">
                <div class="element-box">
                    <h5 class="form-header" id="uploadingDaveHeader">Record retrieved successfully. </h5>
                    <hr>
                    <table class="table table-striped" style="width: 100%">
                        <thead>
                            <th style="width: 90%;">Action</th>
                            <th style="width: 10%;">Status</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Record retrieved successfully.</td>
                                <td>
                                    <i id="doc_hash" class="fa fa-check"
                                        style="font-size:16px;color:green; align: center;"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {{else}}
        <div class="row">
            <div class="col-sm-12 col-xxl-12">
                <div class="element-box">
                    <h5 class="form-header" id="uploadingDaveHeader">Failed to retrieve record.</h5>
                    <hr>
                    <table class="table table-striped" style="width: 100%">
                        <thead>
                            <th style="width: 90%;">Action</th>
                            <th style="width: 10%;">Status</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Failed to retrieve record.</td>
                                <td>
                                    <i id="doc_hash" class="fa fa-times"
                                        style="font-size:16px;color:red; align: center;"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {{/if}}

        {{#if dataArr}}
        <div class="alert alert-info" role="alert">
        <div class="row">
            <div class="col-sm-12 col-xxl-12">
                <div class="element-box">
                    <h5 class="form-header">Record details</h5>
                    <hr>
                    <table class='table table-striped' style="width: 100%">
                        <thead>
                            <th style="width: 35%;">Field</th>
                            <th style="width: 65%;">Value</th>
                        </thead>
                        {{#if dataArr}} {{#each dataArr}}
                        <tbody>
                            <td>{{@key}}</td>
                            <td>{{{this}}}</td>
                        </tbody>
                        {{/each}}{{/if}}
                    </table>
                </div>
            </div>
        </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-xxl-12">
                <div class="element-box">
                    {{#each inputsArr}}
                    <h5 class="form-header">Additional data:</h5>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <th style="width: 35%;">Field</th>
                                <th style="width: 65%;">Value</th>
                            </thead>
                            {{#if this}}
                            <tbody>
                                {{#each this}}
                                <tr>
                                    <td>{{@key}}</td>
                                    <td>{{{this}}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                            {{else}}
                            <tbody>
                                <tr>
                                    <td>{{@key}}</td>
                                    <td>{{{this}}}</td>
                                </tr>
                            </tbody>
                            {{/if}}
                        </table>
                    </div>
                    {{/each}}

                    <div class="alert alert-info" role="alert">
                    <form id="formValidate" action="/plugins/primemason/logistics/add-inputs" method="post">
                        <input type="hidden" name="uuid" value="{{uuid}}">
                        <fieldset class="form-group">
                            <legend><span>Add information</span></legend>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="">User input *</label>
                                        <input class="form-control" data-error="This field is compulsory"
                                            id="User input" name="User input" required="required" type="text" value="">
                                        <div class="help-block form-text with-errors form-control-feedback">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="form-buttons-w">
                            <button type="submit" class="btn btn-primary"> Add</button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
        {{/if}}
    </div>
</div>
<!-- if the user is not loggedin -->
{{else}}
<div class="layout-w">
    <div class="menu-mobile menu-activated-on-click color-scheme-dark">
        <div class="mm-logo-buttons-w">
            <a class="mm-logo" href="#"><img src="/web/img/logo.png"><span>Primechain</span></a>
            <div class="mm-buttons">
                <div class="mobile-menu-trigger">
                    <div class=""></div>
                </div>
            </div>
        </div>
    </div>
    <div
        class="menu-w color-scheme-light color-style-transparent menu-position-side menu-side-left menu-layout-compact sub-menu-style-over sub-menu-color-bright selected-menu-color-light menu-activated-on-hover menu-has-selected-link">
        <div class="logo-w" style="background-color:#1b55e2;">
            <a class="logo" href="#">
                <div class="logo-element"></div>
                <div class="logo-label" style="color: #ffff">Primechain</div>
            </a>
        </div>
    </div>

    <div class="all-wrapper with-side-panel solid-bg-all">
        <div class="layout-w">
            <div class="content-i">
                <div class="content-box">
                    {{#if error_msg}}
                    <div class="alert alert-warning" role="alert">{{error_msg}}</div>
                    {{/if}}

                    {{#if dataArr}}
                    <div class="row" id="uploadDaveStatus">
                        <div class="col-sm-12 col-xxl-12">
                            <div class="element-box">
                                <h5 class="form-header" id="uploadingDaveHeader">Record retrieved successfully. </h5>
                                <hr>
                                <table class="table table-striped" style="width: 100%">
                                    <thead>
                                        <th style="width: 90%;">Action</th>
                                        <th style="width: 10%;">Status</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Record retrieved successfully.</td>
                                            <td>
                                                <i id="doc_hash" class="fa fa-check"
                                                    style="font-size:16px;color:green; align: center;"></i>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    {{else}}
                    <div class="row">
                        <div class="col-sm-12 col-xxl-12">
                            <div class="element-box">
                                <h5 class="form-header" id="uploadingDaveHeader">Failed to retrieve record.</h5>
                                <hr>
                                <table class="table table-striped" style="width: 100%">
                                    <thead>
                                        <th style="width: 90%;">Action</th>
                                        <th style="width: 10%;">Status</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Failed to retrieve record.</td>
                                            <td>
                                                <i id="doc_hash" class="fa fa-times"
                                                    style="font-size:16px;color:red; align: center;"></i>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    {{/if}}

                    {{#if dataArr}}
                    <div class="row">
                        <div class="col-sm-12 col-xxl-12">
                            <div class="element-box">
                                <h5 class="form-header">Record details</h5>
                                <hr>
                                <table class='table table-striped' style="width: 100%">
                                    <thead>
                                        <th style="width: 35%;">Field</th>
                                        <th style="width: 65%;">Value</th>
                                    </thead>
                                    {{#if dataArr}} {{#each dataArr}}
                                    <tbody>
                                        <td>{{@key}}</td>
                                        <td>{{{this}}}</td>
                                    </tbody>
                                    {{/each}}{{/if}}
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-xxl-12">
                            <div class="element-box">
                                {{#each inputsArr}}
                                <h5 class="form-header">Additional data:</h5>
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered">
                                        <thead>
                                            <th style="width: 35%;">Field</th>
                                            <th style="width: 65%;">Value</th>
                                        </thead>
                                        {{#if this}}
                                        <tbody>
                                            {{#each this}}
                                            <tr>
                                                <td>{{@key}}</td>
                                                <td>{{{this}}}</td>
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                        {{else}}
                                        <tbody>
                                            <tr>
                                                <td>{{@key}}</td>
                                                <td>{{{this}}}</td>
                                            </tr>
                                        </tbody>
                                        {{/if}}
                                    </table>
                                </div>
                                {{/each}}

                            </div>
                        </div>
                    </div>
                    <div class="alert alert-info" role="alert">
                    <div class="row">
                        <div class="col-sm-12 col-xxl-12">
                            <div class="element-box">
                                <form id="formValidate" action="/plugins/primemason/logistics/add-inputs" method="post">
                                    <input type="hidden" name="uuid" value="{{uuid}}">
                                    <fieldset class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="">Add comments</label>
                                                    <input class="form-control" data-error="This field is compulsory" id="User input" name="User input" required="required" type="text" value="">
                                                    <div class="help-block form-text with-errors form-control-feedback">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="form-buttons-w">
                                        <button type="submit" class="btn btn-primary"> Add</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>
{{/if}}